<div class="content-div">
    <div class="container div-min-width" id="cont">
        <div class="card allSidesSoft" id="container_id" style="background:rgb(249, 249, 249);margin-left:10px;">
            <div class="card-body">


                <div class="d-flex pc">
                    <div class="image-container">
                        <% if(user.img.data){ %>
                        <img src="data:image;base64,<%=user.img.data.toString('base64')%>" style="height:150px;width:150px" id="user-profile-image"
                            class="img-thumbnail allSideSoft" />
                            <% } else { %>
                            <img src="/<%= user.image_name%>" style="height:150px;width:150px"
                                                            id="user-profile-image" class="img-thumbnail allSideSoft" />
                                <% } %>
                    </div>
                </div>




                <br>
                <br>

                <div class="col-sm-6">
                    <div class="panel panel-default panel-main-div">
                        <div class="panel-heading">Email</div>
                        <div class="panel-body">
                            <%=user.email%>
                        </div>
                    </div>
                </div>



                <div class="col-sm-6">
                    <div class="panel panel-default panel-main-div">
                        <div class="panel-heading">Gender</div>
                        <div class="panel-body" style="text-transform: capitalize;">
                            <%=user.gender%>
                        </div>
                    </div>
                </div>



                <div class="col-sm-6">
                    <div class="panel panel-default panel-main-div">
                        <div class="panel-heading">Name</div>
                        <div class="panel-body">
                            <%=user.name%>
                        </div>
                    </div>
                </div>



                <div class="col-sm-6">
                    <div class="panel panel-default panel-main-div">
                        <div class="panel-heading">City</div>
                        <div class="panel-body">
                            <%=user.city%>
                        </div>
                    </div>
                </div>



                <div class="col-sm-6">
                    <div class="panel panel-default panel-main-div">
                        <div class="panel-heading">D.O.B</div>
                        <div class="panel-body null-link" id="dobtext">
                            <%=user.dob%>
                        </div>
                    </div>
                </div>



                <div class="col-sm-6">
                    <div class="panel panel-default panel-main-div">
                        <div class="panel-heading">Phone</div>
                        <div class="panel-body">
                            <%=user.phone%>
                        </div>
                    </div>
                </div>

