<style>
    .active {
        background-color: #51a1e2 !important;
    }

    #container_id {
        width: 90%;
    }

    .content-div {
        margin-top: 2%;
        margin-left: 50px;
        width: 100%;
    }

    .null-link {
        color: black
    }

    .null-link:hover {
        color: black;
        text-decoration: none;
    }

    .panel-main-div:hover {
        box-shadow: 0 3px 10px 0 rgba(115, 143, 147, .2);
    }

    #changephoto {
        display: none;
    }

    .d-flex:hover #changephoto {

        display: block !important;
    }

    @media(max-width: 768px) {
        .content-div {
            margin-top: 0;
            margin-left: 0;
            width: 100% !important;
        }

        #cont {
            padding: 0;
        }

        #container_id {
            width: auto;
        }
    }
</style>


<div class="content-div">
    <!-- <div class="profile-pic-center-main-div mobile">
        <img src="/<%=user.image_name%>" style="width:100px;height:100px;margin-top:52px;border-radius:50%">
    </div> -->


    <div class="container div-min-width" id="cont">
        <div style="margin-top:10px;">
            <div class="col-12">
                <div class="card allSidesSoft" id="container_id">
                    <div class="card-body">
                    <form method="post" action="/update" enctype="multipart/form-data">
                        <div class="d-flex">
                                <img src="/uploads/<%=user.path%>" style="height:150px;width:150px"
                                    id="user-profile-image" class="img-thumbnail allSideSoft" />
                                
                                <input type="file" onchange="preview_image(event)" class="btn btn-default btn-sm"
                                    style="width:250px;position:absolute;background:transparent;border:0" id="myImage"
                                    name="myImage" accept="image/*" />
                                
                        </div>
                        <br /><br>
                            <div class="panel-group">
                                <!--Form panel-->
                                
                                <div class="panel panel-default editUserPanel">
                                    <div class="panel-heading">Basic Info</div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label>Email :</label>
                                            <input type="text" value=<%=user.email%> class="form-control"
                                            name="username" disabled="true" />
                                        </div>
                                        <div class="form-group">
                                            <label>Name :</label>
                                            <input id="username" type="text" value="<%=user.name%>" class="form-control"
                                            name="fullname" />
                                        </div>
                                        <div class="form-group col-sm-5" style="padding:0">
                                            <label>DOB :</label>
                                            <input id="dob" type="date" class="form-control" value="<%=user.dob%>"
                                            name="dob" placeholder="MM/DD/YYYY" type="text"/>
                                        </div>
                                        <div class="form-group col-sm-5 col-sm-push-2" style="padding:0">
                                            <label>Gender :</label>
                                            <select id="gender" name="gender" class="form-control">
                                                <optgroup label="Select Gender">

                                                    <option value="Male" selected>Male</option>



                                                    <option value="Female">Female</option>


                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel panel-default editUserPanel">
                                    <div class="panel-heading">Contact Info</div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label>Phone :</label>
                                            <input id="phoneno" type="text" value="<%=user.phone%>"
                                            class="form-control" name="phone" maxlength="10" pattern="[6789][0-9]{9}"/>
                                        </div>
                                        <div class="form-group">
                                            <label>City :</label>
                                            <input id="city" type="text" value="<%=user.city%>" class="form-control"
                                            name="city"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default editUserPanel">
                                    <div class="panel-heading">Personal Info</div>
                                    <div class="panel-body">

                                        <div class="form-group">
                                            <label>Interests :</label>
                                            <input id="interests" class="form-control" placeholder="Enter interests..."
                                                type="text" />
                                        </div>

                                        <div class="form-group">
                                            <label>Tell us a bit more about your journey:</label>
                                            <textarea type="text" class="form-control"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>What are your expectations from the communities?</label>
                                            <textarea type="text" class="form-control"></textarea>
                                        </div>

                                    </div>
                                </div>

                                <br />

                                <div class="form-group">

                                    <a href="/changepassword" id="changepass3" class="btn btn-warning pull-left btnEditForm"
                                        style="margin:1px">Change Password</a>

                                    <a id="cancel" class="btn btn-danger pull-right btnEditForm"
                                        style="margin:1px">Cancel</a>
                                    <input id="update" type="submit" class="btn btn-primary pull-right btnEditForm"
                                        style="margin:1px" value="Update" />
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type='text/javascript'>
    function preview_image(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('user-profile-image');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>

<script>


    //  var update = document.getElementById("update");
    //     var username = document.getElementById("username");
    //     var dob = document.getElementById("dob");
    //     var gender = document.getElementById("gender");
    //     var phoneno = document.getElementById("phoneno");
    //     var city = document.getElementById("city");
    //     var changephoto = document.getElementById("changephoto")
    //     var update_button= document.getElementById("update_button")
    //     update_button.addEventListener("click", function (event) {
    //         alert(changephoto.value)
    //     })
    //     // update.addEventListener("click", function (event) {
            
        //     var obj = new Object();
        //     obj.city = city.value;
        //     obj.name = username.value;
        //     obj.dob = dob.value;
        //     obj.phone = phoneno.value;
        //     obj.gender = gender.value;
            

        //     fetch('/update', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json'
        //         },
        //         body: JSON.stringify(obj)
        //     })
        //         .then(response => response.json())
        //         .then(data => {
        //             if (data =="1") {
        //                 alert("User Updated");
        //                 window.location = "/admin"
        //             }
        //             else if(data=="2"){
        //                 alert("User Updated")
        //                 window.location="/community_builder"
        //             }
        //             else {
        //                 alert("Try After Some Time");
        //             }
        //         })
        //         .catch(error => {
        //             alert("Unable to add user kindly contact admin")
        //         });
        // });


</script>